<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>801700085372-5c3rckhnn6hti44oofbj8g8mq910rec1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801700085372-5c3rckhnn6hti44oofbj8g8mq910rec1</string>
	<key>API_KEY</key>
	<string>AIzaSyBKpxNzPpsLlej6dJ8S_0IibAbMz9Ev7c8</string>
	<key>GCM_SENDER_ID</key>
	<string>801700085372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victororourke.Mass-Class-App</string>
	<key>PROJECT_ID</key>
	<string>mass-class-app-1522703971081</string>
	<key>STORAGE_BUCKET</key>
	<string>mass-class-app-1522703971081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801700085372:ios:4b9c8f009a67cc66</string>
	<key>DATABASE_URL</key>
	<string>https://mass-class-app-1522703971081.firebaseio.com</string>
</dict>
</plist>